// Comentario para el autor del css
$Autor: "Erick Jaquez";

/*
Web desarrollada por #{$Autor}
*/

/*.
Fuente para personas con dislexia
*/

@font-face{
    font-family: "OpenDyslexic";
    src: url("../fonts/OpenDyslexic-Regular.otf") format('opentype');
}

//variable fuente
$font-family: "Arial";

//Variables de colores

// backgorunds
$background-primary: #FFDAC1;
$background-secondary: #D3EEFF;
$background-info: #2b68c3;
$background-success: #A5F8CE;
$background-warning: #FDFD95;
$background-danger: #ff838d;
$background-white: #fff;
$background-black: #000;

// text colors
$color-primary: #1D1905;
$color-secondary: #2A002A;
$color-info: #2b68c3;
$color-success: #A5F8CE;
$color-warning: #FDFD95;
$color-danger: #ff838d;
$color-white: #fff;
$color-black: #000;

//link colors
$link-hoover: $color-warning;

/*
Body Style
*/

body {
    font-family: $font-family;
    //font-size: $font-size;
}

/*
Clases y etiquetas para dar color y estilo a los elementos de la página
*/

/* colores de fondo */
.back-primary{
    background-color: $background-primary;
}

.back-secondary{
    background-color: $background-secondary;
}

.back-success{
    background-color: $background-success;
}

.back-info{
    background-color: $background-info;
}

.back-warning{
    background-color: $background-warning;
}

.back-danger{
    background-color: $background-danger;
}

.back-white{
    background-color: $background-white;
}

.back-black{
    background-color: $background-black;
}

/* colores de letras */
.cl-primary{
    color: $color-primary;
}

.cl-secondary{
    color: $color-secondary !important;
    &:hover{
        color: $link-hoover !important;
    }
}

.cl-success{
    color: $color-success;
}

.cl-info{
    color: $color-info;
}

.cl-warning{
    color: $color-warning;
}

.cl-danger{
    color: $color-danger;
}

.cl-white{
    color: $color-white;
}

.cl-black{
    color: $color-black;
}

/* cambiar tamaño de algunos textos */
.titulo{
    font-size: 4em;
}

.menu{
    font-size: 2em;
}

/* colores para botones */
.button-color{
    border-color: $color-danger;
    &:hover{
        color: $color-primary;
        background-color: $background-warning;
        border-color: $color-warning;
    }
}