
// Comentario para el autor del css
$Autor: "Erick Jaquez";

/*
Web desarrollada por #{$Autor}
*/

/*.
    Fuente para personas con dislexia
*/

@font-face{
    font-family: "OpenDyslexic";
    src: url("../fonts/OpenDyslexic-Regular.otf") format('opentype');
}

//variable fuente
$font-family: "Arial";
$font-size: 2em;

//Variables de colores

//backgorunds
$background-primary: #FFDAC1;
$background-secondary: #D3EEFF;
$background-info: #2b68c3;
$background-succes: #A5F8CE;
$background-warning: #FDFD95;
$background-danger: #ff838d;
$background-white: #fff;
$background-black: #000;

// text colors
$color-primary: #fff;
$color-secondary: #000;
$color-tertiary: #dce5f1;

//Otras variables utiles
$normal-vw: 2vw;
$centrado: center;
$nada: none;

//link colors
$link-hoover: #00f;

/*
Body Style
*/

body {
    font-family: $font-family;
    font-size: $font-size; 
}

/*
Clases para dar color y estilo a los elementos de la página
*/

header{
    background-color: $background-primary;
}